<div class="navbar navbar-expand-md myNavbar navbar-dark fixed-top">
<div class="navContainer">
<%#= link_to image_tag("blackandPINKlogoWhiteandPink.png"), "https://www.socoblackandpink.org" %>
<div class="navbar-home-header">
    <%= link_to "home", controller: "welcome" %> 
    <%= link_to "about me", controller: "about" %> 
    <%= link_to "projects", controller: "projects" %> 
    <%= link_to "contact", "mailto:nathanshulkin@gmail.com", target: :_blank %></h7>

</div>
</div>
</div>