<div class="ticker">
  <h7>this is a site that nathan built. if you want to get in touch, feel free to send an email:
  <%= link_to "nathanshulkin@gmail.com", "mailto:nathanshulkin@gmail.com", target: :_blank %></h7>
</div>