
<div class="navbar navbar-expand-md myNavbar navbar-dark fixed-top">
<div class="navHomeContainer">
<%#= link_to image_tag("blackandPINKlogoWhiteandPink.png"), "https://www.socoblackandpink.org" %>
<div class="navbar-home-header">
    <%#= link_to "penpals", controller: "penpals" %> 
    <%#= link_to "art", controller: "arts" %> 
    <%#= link_to "get involved", controller: "helps" %> 
    <%= link_to "hello", "https://secure.everyaction.com/PS6utPc4a0a5IIZPSLaUjg2?fbclid=IwAR2MxjGVXhMACJGFd6skkqYqd6engGL0YnSoNs3MMvVbf25PMuZTYcK48Zw", target: :_blank %>
    <%= link_to "goodbye", "https://secure.everyaction.com/PS6utPc4a0a5IIZPSLaUjg2?fbclid=IwAR2MxjGVXhMACJGFd6skkqYqd6engGL0YnSoNs3MMvVbf25PMuZTYcK48Zw", target: :_blank %>
</div>
</div>
</div>





<%#= link_to image_tag("blackandPINKlogoWhiteandPink.png"), "https://www.socoblackandpink.org", target: :_blank %>

<%= video_tag "webHo.mp4", autoplay: true, loop: true, controls: false, muted: true, playsinline: true, class: "home_video" %>
        
<%#= render 'partials/navbar' %>

<%= render 'partials/ticker' %>

