<h1>Welcome to this site that nathan built</h1>
<p>
    the time is now <%= Time.now %>
</p>

<%= link_to image_tag("blackandPINKlogoWhiteandPink.png"), "https://www.socoblackandpink.org", target: :_blank %>

<%= video_tag "blackandpink.mp4", autoplay: true, loop: true, controls: false, muted: true, playsinline: true, class: "home_video" %>
        
<%#= render 'partials/homeNavbar' %>

<%#= render 'partials/homeTicker' %>

