<%= render 'partials/navbar' %>

<div class="gumbotron">
<h1>all these things that i have done</h1>


<p>i like to make music and videos, some would say music videos. here are some of those</p>


</div>

<%= render 'partials/ticker' %>