<%= render 'partials/navbar' %>

<div class="gumbotron">
<h1>all these things that i have done</h1>


<p>i like to make music and videos, some would say music videos. here are some of those</p>


</div>

<div class="tickContainer">
  <h7>this is a site that nathan built. if you want to get in touch, feel free to send an email:
  <%= link_to "nathanshulkin@gmail.com", "mailto:nathanshulkin@gmail.com", target: :_blank %></h7>
</div>