<%= render 'partials/navbar' %>

<div class="gumbotron">

<p>i like to make music and videos, some would say music videos. here are some of those</p>

    <div class="gumbotroner">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-ygQSvvhG0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="gumbotroner">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZTKK9tW2X4c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="gumbotroner">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/z67royPPhfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    
</div>


<div class="gumbotron">

  <p>i also like to make websites (like the one you are on right now).</p> 
  <p>i made one for my local prison abolition group, Southern Colorado Black and Pink, which you can find here:</p>
  <%= link_to image_tag("blackandPINKlogoWhiteandPink.png"), "https://www.socoblackandpink.org", target: :_blank, style: 'height:69%;width:auto;' %>

      
</div>

<div class="tickContainerer">
  <h7>this is a site that nathan built. if you want to get in touch, feel free to send an email:
  <%= link_to "nathanshulkin@gmail.com", "mailto:nathanshulkin@gmail.com", target: :_blank %></h7>
</div>