<h1>about me</h1>

<h2>aboooooooout meeeeeeeee</h2>

<p>Hello There,</p>
<p>My name is nathan (sometimes nxthxnxthxn) and I am part abolitionist and part computer scientists.</p>



<%= link_to "home", controller: "welcome" %>

<%= render 'partials/ticker' %>