<%= render 'partials/navbar' %>

<div class="gumbotron">
<h1>about me</h1>

<h2>aboooooooout meeeeeeeee</h2>

<p>Hello There,</p>
<p>My name is nathan (sometimes nxthxnxthxn) and I am part abolitionist part computer scientist.</p>
</div>


<%= render 'partials/ticker' %>